
body {
    background-color: black;
    background: 
    color: black;
}

.hero_title {
    text-align: center;
    line-height: 100vh;
    font-family: 'Klee One', cursive;
    font-size: xx-large;
}
